*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
}
.portfolio{
    width: 100%;
    background-color: #0e1c3b;
}
.pfolio{
    width: 70%;
    margin: auto;
}
.portfolio h2{
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2 ;
    letter-spacing: 0.01em;
    padding-top: 45px;
    color: #e5e7eb;
}
.portfolio p{
    margin-top: 15px;
    text-align: center; 
    font-size: 1.05rem;
    font-weight: 400;
    line-height:  1.7;
    color: #e5e7eb;
}
.btnp{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btnp button{
    margin-top: 50px;
    padding: 14px 36px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    border: none;
    border: 3px solid rgba(8, 100, 248, 0.2);
    color: white;
    background-color: transparent;
    margin-bottom: 30px;
}
.btnp button:hover{
    background-color:  #1271e7;
    transform: translateY(-2px);
    box-shadow: 0 12px 30px rgba(59, 130, 246, 0.4);
}
.activeBTN{
    background-color:#1271e7 !important;
}
.cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.card{
    width: 32%;
    height: 280px;
    background: rgba(30, 41, 59, 0.6);
    backdrop-filter: blur(15px);
    padding: 2.5rem;
    border: 2px solid rgba(59, 130, 246, 0.2);
    border-radius: 12px;
    transition: all 0.4s ease;
}
.card:hover{
    transform: translateY(-10px);
    border-color: #3b82f6;
    background: rgba(30, 41, 59, 0.8);
    box-shadow: 0 20px 50px rgba(59, 130, 246, 0.2);
}

@media (min-width: 0px) and (max-width: 720px) {
.btnp{
    display: flex;
    flex-wrap: wrap;
}
.btnp button{
    padding: 10px;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 0;
}
.cards{
    flex-direction: column;
}
.card{
    margin-top: 30px;
    width: 100%;
    height: 280px;
}
}
@media (min-width: 721px) and (max-width: 1000px){
 .btnp{
    display: flex;
    flex-wrap: wrap;
}
.btnp button{
    width: 45%;
    margin-top: 20px;
    margin-bottom: 0;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-top: 30px;
    width: 48%;
    height: 280px;
}   
}