*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gaf{
    /* margin: 80px; */
    padding: 80px;
    background-color: rgb(2, 2, 29);
    color: white;
     position: relative;
     bottom: 10px;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
     padding-left: 50px;
}
.car1{
   margin-bottom: 20px;
}

.coin{
    display: flex;
    gap: 40px;
}

